In [ ]:
# RUN THIS COMMAND ONLY IF YOU USE GOOGLE COLAB.
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# RUN THIS COMMAND ONLY IF YOU USE GOOGLE COLAB.
%cd drive/MyDrive/TechLabs/02_Data\ Manipulation/Part\ C\ -\ Pandas

# Chapter 5 - Updating Rows and Columns - Modifying Data Within DataFrames  
### Hey Techie,   
Welcome to the fifth notebook of this Pandas tutorial series. We encourage you to take this notebook as a template to code along the instruction video, which you may find at: https://youtu.be/DCDe29sIKcE. The video deals with how to change values within Series objects and DataFrames. The underlying principles are first explained along a simple example and then applied to the real dataset we already know. At the end, as always, there are practical tasks, this time also two, to which you can write short answers as well.   

**Here you may find the Pandas documentation:** https://pandas.pydata.org/docs/reference/index.html

#### Have fun! :-)   
    
*Video length*: 40 minutes   
*Self-study time*: 40 minutes   
*Total*: **80 minutes**
<hr style="border:2px solid gray"> </hr>   

## Code-Snippets

In [160]:
# This is the convention used to import Pandas.
import pandas as pd

In [4]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [10]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [12]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
# START YOUR CODE HERE.
df.columns = ['first_name', 'last_name', 'email']

In [16]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [18]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [30]:
#df.columns = df.columns.str.replace(' ', '_') to replace the space in coluns with _
df.rename(columns={'FIRST_NAME': 'first', 'LAST_NAME': 'last'}, inplace=True)
df

   first     last                    EMAIL
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [40]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']#to change entries
df

   first     last                    EMAIL
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [72]:
df.loc[2, ['last', 'EMAIL']] = ['Doe', 'JohnDoe@email.com']
#df.loc[2,'last' = 'Smith'] to change 1 value
df.at[2,'last'] = 'Doe'
df

   first     last                    EMAIL
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [68]:
df=df.drop(columns='email', inplace=True)

KeyError: "['email'] not found in axis"

In [70]:
df

   first     last                    EMAIL
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [82]:
filt = (df['EMAIL'] == 'JohnDoe@email.com')
#df[filt] ['last'] = 'Smith'
df.loc[filt, 'last'] = 'Smith'

In [84]:
df

   first     last                    EMAIL
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [96]:
#df['EMAIL'].str.lower()
df['EMAIL'] = df['EMAIL'].str.lower()
df

   first     last                    EMAIL
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [98]:
#apply on a series
df['EMAIL'].apply(len)

0    23
1    17
2    17
Name: EMAIL, dtype: int64

In [100]:
def update_EMAIL(EMAIL):return EMAIL.upper()

In [104]:
df['EMAIL'].apply(update_EMAIL)
df['EMAIL'] = df['EMAIL'].apply(update_EMAIL)
df

   first     last                    EMAIL
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [108]:
df['EMAIL'] = df['EMAIL'].apply(lambda x: x.lower()) # small anonymous function; typically used for short, throwaway functions that you don't need to reuse elsewhere
df

   first     last                    EMAIL
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [110]:
df['EMAIL'].apply(len)

0    23
1    17
2    17
Name: EMAIL, dtype: int64

In [114]:
#df.apply(len) - shows the number of rows
df.apply(len,axis=columns')
df.apply(pd.Series.min) #shows the minimum entry in each columns)
df.apply(lambda x: x.min())

first    3
last     3
EMAIL    3
dtype: int64

In [118]:
df.applymap(len)
df.applymap(str.lower)

/var/folders/cs/wy9fk11x7mscwysl2y4s8f0m0000gn/T/ipykernel_1356/3317836410.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len)
/var/folders/cs/wy9fk11x7mscwysl2y4s8f0m0000gn/T/ipykernel_1356/3317836410.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(str.lower)

   first     last                    EMAIL
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

In [122]:
df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})#this replaces the other entries with NaN

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [124]:
df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'}) #retains the other entries 
#to make the change permanent, df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'}) #retains the other entries

0    Chris
1     Mary
2     John
Name: first, dtype: object

<hr style="border:2px solid gray"> </hr>   
    
## Real-word Example

In [126]:
# These options help us to inspect our data more easily.
pd.set_option("display.max_columns", 85)
pd.set_option("display.max_rows", 85)

In [156]:
file_path1 = "c:\\Users\\amrensch\\Documents\\Coding2025\\data\\survey_results_schema.csv"
file_path2 = "c:\\Users\\amrensch\\Documents\\Coding2025\\data\\survey_results_public.csv"

In [164]:
# These commands load the same survey data Corey is using in his video.
df = pd.read_csv(file_path2, index_col = "Respondent")
schema_df = pd.read_csv(file_path1, index_col = "Column")

FileNotFoundError: [Errno 2] No such file or directory: 'c:\\Users\\amrensch\\Documents\\Coding2025\\data\\survey_results_public.csv'

In [ ]:
# START YOUR CODE HERE.

<hr style="border:2px solid gray"> </hr>   
   
## Practice Tasks

In [2]:
# Load a clean DataFrame.
df = pd.read_csv("data/survey_results_public.csv", index_col = "Respondent")

NameError: name 'pd' is not defined

#### 1. Adjust the DataFrame's column names so that every column name is lowercased. 
<br /> 
<details>    
<summary>
    <font size="3" color="red"><b>Hints (click to expand)</b></font>
</summary>
<p>
    <ul>
        <li>Make use of list comprehensions.</li>
        <li>The lower-method converts strings to lowercasing.</li> 
    </ul>
</p>
</details>

In [ ]:
old_columns = df.columns
# YOUR CODE STARTS HERE.

df.columns = ...

#YOUR CODE ENDS HERE.

In [ ]:
# THIS CELL TESTS YOUR RESULTS.
assert df.columns[0] == "mainbranch", "Your lowercasing does not seem to work!"
assert df.columns[-1] == "surveyease", "Your lowercasing does not seem to work!"

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Solution (click to expand)</b></font>
</summary>
<p>
    <code>df.columns = [column.lower() for column in df.columns]</code>
</p>
</details>

In [ ]:
# For better readability, we undo this change. We applied it just for practice reasons. 
df.columns = old_columns

#### 2. Some column names are misleading. Rename the columns *CareerSat* and *MgrIdiot* to *CareerSatisfaction* and *ManagerAwareness*. 
<br />
<details>    
<summary>
    <font size="3" color="red"><b>Hints (click to expand)</b></font>
</summary>
<p>
    <ul>
        <li>One can use Pandas' rename-function to rename indexes/columns.</li>
        <li>How should you set the axis-argument inside the rename-functioncall?</li>
        <li>How should you set the inplace-parameter inside the rename-functioncall?</li>
    </ul>
</p>
</details>

In [ ]:
# START YOUR CODE HERE.

...

# END YOUR CODE HERE.

In [ ]:
# THIS CELL TESTS YOUR RESULTS.
assert "CareerSatisfaction" in df.columns, "You did not rename CareerSat correctly!"
assert "ManagerAwareness" in df.columns, "You did not rename MgrIdiot correctly!"

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Solution (click to expand)</b></font>
</summary>
<p>
    <code>df.rename({"CareerSat": "CareerSatisfaction", "MgrIdiot": "ManagerAwareness"}, axis = "columns", inplace = True)</code>
</p>
</details>   
   
#### 3. For comparison reasons, we want to convert the current dollar salaries to euro salaries (*CompTotal* column). At that, we assume an exchange ratio of 85%. Therefore, one dollar should equal 85 cents. 
<br />
<details>    
<summary>
    <font size="3" color="red"><b>Hints (click to expand)</b></font>
</summary>
<p>
    <ul>
        <li>Which method should you use? Apply, applymap, or map?</li>
        <li>To be very efficient, you might want to solve this problem by using a lambda function inside the function call.</li>
        <li>CompTotal is of dtype float64. Therefore, arithmetics operations work as you would expect.</li> 
    </ul>
        
</p>
</details>

In [ ]:
# START YOUR CODE HERE.

df["CompTotal"] = ...

# END YOUR CODE HERE.

In [ ]:
# THIS CELL TESTS YOUR RESULTS.
assert df["CompTotal"].loc[3] == 19550, "Your conversion does not seem to work properly!"
assert df["CompTotal"].loc[10] == 807500, "Your conversion does not seem to work properly!"
assert df["CompTotal"].loc[20] == 2550, "Your conversion does not seem to work properly!"

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Solution (click to expand)</b></font>
</summary>
<p>
    <code>df["CompTotal"] = df["CompTotal"].apply(lambda x: x*0.85)</code>
</p>
</details>

#### 4. In the *OpenSourcer* column, respondents were asked how often they contribute to open source projects. The answer options were: "Never," "Less than once per year," "Less than once a month but more than once per year," and "Once a month or more often." Complete the *adjust_OpenSourcer*-function so that it can be applied to the *OpenSourcer* column. The goal is for the new *OpenSourcer* column to contain False (boolean) if a respondent answered "Never". Otherwise, it should contain True (boolean). 
<br />
<details>    
<summary>
    <font size="3" color="red"><b>Hints (click to expand)</b></font>
</summary>
<p>
    <ul>
        <li>One can compare two values with the ==-operator.</li>
        <li>The original OpenSourcer column contains strings.</li>
        <li>Remind yourself of if/else conditionals.</li>
    </ul>
        
</p>
</details>

In [ ]:
def adjust_OpenSourcer(answer):
    
    # START YOUR CODE HERE.
    
    # END YOUR CODE HERE.
    
df["OpenSourcer"] = df["OpenSourcer"].apply(adjust_OpenSourcer)

In [ ]:
# THIS CELL TESTS YOUR RESULTS.
assert df["OpenSourcer"].dtype == "bool", "adjust_OpenSourcer shall return boolean values!"
assert df["OpenSourcer"].iloc[0] == False, "Your adjustment seems to be incorrect!"
assert df["OpenSourcer"].iloc[-1] == True, "Your adjustment seems to be incorrect!"

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Solution (click to expand)</b></font>
</summary>
<p>
    <code>def adjust_OpenSourcer(answer):</code><br />
    <code>&nbsp;&nbsp;&nbsp;&nbsp;if answer == "Never":</code><br />
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return False</code><br />
    <code>&nbsp;&nbsp;&nbsp;&nbsp;else:</code><br />
    <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return True</code>
</p>
</details>

#### 5. Which method should you use if you want to adjust every value within a DataFrame?

*Your Answer* (enter by double-clicking):

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Solution (click to expand)</b></font>
</summary>
<p>
    applymap
</p>
</details>

#### 6. What is the main difference between *replace* and *map* as Series/DataFrame functions?

*Your Answer* (enter by double-clicking):

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Solution (click to expand)</b></font>
</summary>
<p>
    Map assigns NaN to each element that is not present in its mapper dictionary. Replace substitutes only the values that are present in its mapper dictionary, values that are not present remain unchanged. 
</p>
</details>